h1 {
 font-size: 40px;
}

h2 {
 font-size: 25px;
 color: rgb(40, 40, 40);
}

p {
 color: rgb(30,30, 30);
 font-size: 20px;
}

.link {
    @apply text-blue-500 underline hover:text-blue-400;
}

.btn-download {
    @apply border bg-gray-300 p-3 text-xl m-1 px-5 rounded transition shadow
    hover:bg-blue-400 hover:text-white hover:shadow-2xl hover:shadow-inner
    ;
}

code {
    font-family: Monaco, monospace;
    font-size: 18px;
    line-height: 100%;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 5px;
    margin: auto;
    width: 40%;
    padding: 15px;
}
